<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="main-content">
      {{>headers}}
      <img class="portrait"src="/img/20210513_062751_2.jpg">
      <p>Heba Riaz.</p>
      <p>CSc Engineering Student, NITW '22.</p>
    </div>
    {{>footer}}
  </body>
</html>